.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #F9E4D4;
}

h1 {
  margin: 10px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 5rem;
  color: #D67D3E;
}

p {
  font-size: 2rem;
  color: #470D21;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 70%;
}

footer {
  margin-top: 5%;
  color: #470D21;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}
